<div id='container' ng-controller="UploadController">
  <h1>Upload New Grump File</h1>
  <form novalidate name="fileUpload">
    <div>
      <span class='fieldlabel'>Github URL</span>
      <input type='url' ng-model ="file.url" placeholder="Currently we support public repositories only" required>
    </div>

    <div>
      <span class='fieldlabel'>Author</span>
      <input type='text' ng-model ="file.author" placeholder="tell us about yourself" require >
    </div>

    <div>
      <span class='fieldlabel'>Run File</span>
      <input input='text' ng-pattern='/^[a-zA-Z0-9]*$/' ng-model ="file.runFile" placeholder="runMeOnCommand.js (currently must be in your root directory)" required>
    </div>
    
    <div>
      <span class='fieldlabel'>Description of Package Functionality</span>
      <input type='text' ng-model ="file.description" placeholder="'this does xyz for abc'" required>
    </div>
    
    <div>
      <span class='fieldlabel'>Command Name</span> 
      <input class='taskinput' type='text' ng-pattern='/^[a-zA-Z0-9]*$/' ng-model="file.command" placeholder="this is what will be invoked in grump" required>
    </div>
    
    <input type="submit" ng-click="submitForm(file)" value="To The Grump Mobile" />

  </form>
  </div>